.flex-container {
    display: grid;
    height: 98vh;


    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 25%);
    gap: .2em; 

}

div {

    background-color: antiquewhite;
    justify-content: center;

}

.nav {
    background-color: antiquewhite;
}

.forcast{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;

}

.time{
    
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;


}

.widget1{
    margin:auto;
    height:250px;
    width: 384px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

}
.widget2{
    margin:auto;
    height:250px;
    width: 384px;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;

}
.widget3{
    margin:auto;
    height:250px;
    width: 384px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;

}
.widget4{
    margin:auto;
    height:250px;
    width: 384px;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;

}
.widget5{
    margin:auto;
    height:250px;
    width: 384px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;

}
.widget6{
    margin:auto;
    height:250px;
    width: 384px;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;

}



@media(max-width: 1152px){
    .flex-container {
        display: flex;
        flex-flow: column;
        height: 98vh;
    }
    .forcast{
        order: -1;
        height:250px;
        width: 384px;
        margin:auto;
    }
    .time{
        order: -1;
        height:250px;
        width: 384px;
        margin:auto;
    }

    div {
        width: auto
    }
}