.flex-container {
    display: grid;
    height: 98vh;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 25%);
    gap: .2em; 

}

div {

    background-color: antiquewhite;
    justify-content: center;

}

.nav {
    background-color: antiquewhite;
}

.forcast{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

}

.time{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;


}

.widget1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

}
.widget2{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

}
.widget3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;

}
.widget4{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;

}
.widget5{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;

}
.widget6{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;

}



@media(max-width: 500px){
    .flex-container {
        display: flex;
        flex-flow: column;
        height: 98vh;
    }

    div {
        width: auto
    }

    .weather {
        order: -1;
    }
}